@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model SearchSelection
@{
    ViewData["title"] = "Chapters";
}
<head>
   @*  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@

@*    <script src='https://code.jquery.com/jquery-1.12.3.js'></script>
   <script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
   <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js" charset="utf-8"></script>*@
<style>
body {
 
 background-color: aliceblue;
}
</style>
</head>
<body>
@*@(await Html.RenderComponentAsync<Chapters>(RenderMode.ServerPrerendered))*@
    <h3>@Html.DisplayName(ViewBag.bookName.ToString())</h3>
<table>
    <tr>
   @using(Html.BeginForm("UrlBuilder","Home",new{@SortOrder= ViewBag.sortOrder,@id=ViewBag.id.ToString(),@Name=ViewBag.bookName.ToString(),@Page=ViewBag.page,@Limit="None"}))
    {
    
  <td> @Html.DisplayName("Search For A Chapter ")<i class="fa fa-fw fa-filter"></i></td>
  <td> @Html.TextBoxFor(m =>m.SearchValue)</td>
   <td><input class="btn btn-primary" type="submit" /></td>
}
</tr>

</table>
<div align="right">
@Html.ActionLink("Show 10 per page","UrlBuilder",new {@SortOrder= ViewBag.sortOrder, @Name=ViewBag.bookName.ToString(),
    @Id=ViewBag.id.ToString(),@Page=ViewBag.page,@Limit="10",@SearchValue=ViewBag.searchValue },new{ @align="right"})<br />
@Html.ActionLink("Show All","UrlBuilder",new {@SortOrder= ViewBag.sortOrder, @Name=ViewBag.bookName.ToString(),
    @Id=ViewBag.id.ToString(),@Page=ViewBag.page,@Limit="None" },new{ @align="right"})


    
</div>
<div>
     <table class="table">
         <th style="width: 90%">
             
             @Html.DisplayName("Chapter Name ")
             @Html.ActionLink("", "UrlBuilder", new { @SortOrder = SortDirection.Ascending,@Name=ViewBag.bookName.ToString(),
                 @Id=ViewBag.id.ToString(),@Page=ViewBag.page,@Limit=ViewBag.limit,@SearchValue=ViewBag.searchValue },new{@class="fa fa-fw fa-arrow-up"})
             
             @Html.ActionLink("", "UrlBuilder", new { @SortOrder = SortDirection.Descending,@Name=ViewBag.bookName.ToString(),
                 @Id=ViewBag.id.ToString(),@Page=ViewBag.page,@Limit=ViewBag.limit,@SearchValue=ViewBag.searchValue },new{@class="fa fa-fw fa-arrow-down"})
             </th>
             <th>
            @Html.DisplayName("Page Num :" + ViewBag.page.ToString())
             
         </th>
@if(ViewData["chapter"]!=null)
{
    
    @foreach(var item in  ViewData["chapter"] as IList<Chapter>)
    {
        <tr>
            <td>
                
                @Html.DisplayName((item.chapterName).ToString())
                
            </td>
           <td>
               @*@Html.CheckBox("IsChecked")*@
           </td>

            
        </tr>
    }
}
</table>
</div>
<div align="right">
@*   <ul class="pagination">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>*@
@Html.ActionLink("Previous","UrlBuilder",new {@SortOrder= ViewBag.sortOrder, @Name=ViewBag.bookName.ToString(),@Id=ViewBag.id.ToString(),
    @Page=(Convert.ToInt32(ViewBag.page)==1)?1:Convert.ToInt32(ViewBag.page)-1,@Limit="10",@SearchValue=ViewBag.searchValue },new{@align="right"})
@Html.ActionLink("Next","UrlBuilder",new {@SortOrder= ViewBag.sortOrder, @Name=ViewBag.bookName.ToString(),@Id=ViewBag.id.ToString(),
    @Page=Convert.ToInt32(ViewBag.page) + 1,@Limit="10",@SearchValue=ViewBag.searchValue },new{@align="right"})
</div>
@*<link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css"
      asp-href-exclude="**/*-reboot*,**/*-grid" />*@
@*       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
         <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">*@
      
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>