@using System.Web
@using System.Web.Optimization


@model SearchSelection
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{<script type="text/javascript" src="~/js/index.js"></script>}

<head>
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @* <marquee><strong> Simple Search for the book of your choice! </strong></marquee>*@

    <div class="row col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="col-lg-4 col-md-3 col-sm-1"> </div>
        <div class="col-lg-4 col-md-6 col-sm-10">
            <img width="450" src="~/images/booksearch.png" />
            <label>Welcome To Online Book Search</label>
            <label class="display-9">Enter the Book Name </label>
            @using (Html.BeginForm("SearchBooks", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    @*<input type="text" maxlength=100 size=50 name="searchValue" />*@
                    <p>@Html.TextBoxFor(model=>model.SearchValue,new {@class = "form-control",@maxlength  = "50",name="SearchValue", @id="SearchText"})</p>
                    @*<p>@Html.ValidationMessageFor(model=>model.SearchValue,"Please enter the search value.",new{@class = "text-danger"})</p>*@
                    @*<span class="field-validation-error text-danger"  data-valmsg-for="SearchValue" data-valmsg-replace="false">
                        The SearchValue field is required.</span>*@
                </div>

                <div class="form-group">
                    <table class="align-content-around" align="center">
                        <tr><td>@Html.RadioButton("SearchType",SearchType.match,false  )</td><td> Find Exact Match </td></tr>
                        <tr><td>@Html.RadioButton("SearchType",SearchType.negate,false  )</td><td> Should Not Match</td></tr>
                        <tr><td> @Html.RadioButton("SearchType",SearchType.regexmatch,true  )  </td><td> Should Include Above Words </td></tr>
                        <tr><td>@Html.RadioButton("SearchType",SearchType.regexnegate,false  )</td><td> Should Not Include Above Words </td></tr>
                    </table><br />
                </div>
                <div class="form-group">
                    <p class="text-muted">
                        <input class="btn btn-primary" id="test" type="submit" value="Submit" onclick="validateForm()"/>
                        <a class="btn btn-primary" href='@Url.Action("AllBooks","Home")'>Show All Books</a>
                    </p>
                </div>
            }

            <div class="col-lg-4 col-md-3 col-sm-1"></div>
        </div>
    </div>

</body>
